@media (max-width: 620px) {
  .App .AdviceCard {
    width: 100%;
  }
  .AdviceCard .circle-dice {
    left: 9.6rem !important;
  }
  .AdviceCard .divider_mobile {
    display: block;
  }
  .AdviceCard .divider_desk {
    display: none;
  }
}

@media (max-width: 375px) {
  .AdviceCard h2 {
    font-size: 23px;
  }
  .AdviceCard p {
    font-size: 10px;
  }
}
