@media (max-width: 620px) {
  .AdviceCard {
    width: 90%;
  }
  .AdviceCard .ButtonGenerate {
    position: absolute;
  }
  .AdviceCard .divider_mobile {
    display: block;
  }
  .AdviceCard .divider_desk {
    display: none;
  }
}

@media (max-width: 375px) {
  .AdviceCard h2 {
    font-size: 23px;
  }
  .AdviceCard p {
    font-size: 10px;
  }
}
