.ButtonGenerate .circle-dice {
  position: absolute;
  background-color: #4effaf;
  border-radius: 50px;
  width: 55px;
  height: 55px;
  margin-top: 9px;
}

.dice {
  margin-top: 16px;
  margin-left: 17px;
  color: #1f2631;
}
